body{
	background-color: #ecf50b;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
	
p{
	background-color: #FFB6C1;
	color: #006400;
}

#sky{
	background-color: #87CEFA;
	color: #5D0F0D;
}

#short{
	font-weight: bold;
}

#quotes{
	border: 8px solid darkred;
	padding: 16px;
}