body {
	background-image: url("bluegray.gif");
	}

h1 {
	text-align:	center;
}

#intro{
	text-align: center;
}
	
h2 {
	text-align: center;
}

#image1 {
	text-align: center;
}

#image2 {
	float: left;
	margin: 0px 5px 5px 0px:
}

#image3 {
	float: right;
	margin: 0px 0px 5px 5px;
}

a:link {
	color: ##000080;
}

