h1{
	text-align: center;
	color: purple;
	font-weight: bold;
  }
  
table#australia {
	width: 900px;
	height: 1600px;
	border: solid purple 8px;
	margin-left: auto;
	margin-right: auto;
  }
  
table#australia th, table#australia td {
	color: white;
	border: solid mediumpurple 3px;
	padding: 15px; 
	width: 25%;
	text-align: center;
	vertical-align: middle;
 }

#bottom {
	text-align:	center;
}


